<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.taskwithsplashscreen">

    <application
android:name=".TaskWithSplashScreenApplication"
        android:allowBackup="false"
        android:icon="@drawable/net"
        android:label="@string/app_name"
        android:roundIcon="@drawable/net"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MyOtpActivity" />
        <activity android:name=".SecondStep" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".SplashActivity"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>

        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>